.left-header
  .left-header__title
    = current_user.groups.name
  .left-header__members
    .member Members:
    = current_user.name
.right-header
  = link_to edit_group_path(current_user) do
    .right-header__button Edit
