.chat {
  width: calc(100vw - 300px);

//header部分
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    .left-header {
      float: left;
      &__title {
        color: $black;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        //@include flexbox; ← 調べて入れること
        color: $light_gray;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;//要素を横並びにして横幅高さを指定できる
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      &__button {
        color: $light_blue;
        text-decoration: none;
      }
    }
  }

//footer部分
  &__footer {
    height: 90px;
    width: 100%;
    padding: 20px 40px;
    background-color: $pearl_gray;

    &__form {
      position: relative;
      input.message {
        float: left;
        width: calc(100% - 115px);
        height: 50px;
        border: none;

        &::placeholder {
          padding-left: 10px;
          color: $thin_black;
          font-size: 16px;
        }
      }

      label {
        position: absolute;
        top: 0;
        left: calc(100% - 145px);
        display: inline-block;
        width: 20px;
        height: 50px;
        margin: 0;
        padding-right: 10px;

        input.image {
          display: none;
        }

        i.fa {
          line-height: 50px;
        }
      }

      input.submit {
        float: right;
        width: 100px;
        height: 50px;
        margin-left: 15px;
        background-color: $light_blue;
        color: $white;
        border: none;

      }
    }
  }
//ここ以下はを入れ替えないといけない
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}
