.chat {
  width: calc(100vw - 300px);
  float: right;
  height: 100vh;
//header部分
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    .left-header {
      float: left;
      &__title {
        color: $black;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        //@include flexbox; ← 調べて入れること
        color: $light_gray;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;//要素を横並びにして横幅高さを指定できる
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 2px solid $light_blue;
      color: $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      &__button {
        color: $light_blue;
      }
      a {
        text-decoration: none;
      }
    }
  }

//chat部分
  .messages {
    width: 100%;
    height: calc(100vh - 15% - 90px);
    background-color: $pearl_white;
    box-sizing: border-box;
    padding: 0 40px;
    overflow-y: scroll;
  }

  .message {
    position: relative;
    top: 26px;

  .upper-message {
    padding: 20px 0;
    width: 40%;

      &__user-name {
        display: inline-block;
        margin-bottom: 10px;
        color: $thin_black;
        font-size: 16px;
        font-weight: bold;
      }

      &__date {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
        color: $light_gray;
        font-size: 12px;
        float: right;
      }

      &__content{
        color: $thin_black;
        font-size: 14px;
      }
    }
  }


//footer部分

  .footer {
    box-sizing: border-box;
    padding: 20px 40px;
    width: 100%;
    height: 90px;
    background-color: #AAAAAA;

    .footer__form {
      position: relative;

      .form__message {
        float: left;
        width: calc(100% - 115px);
        height: 50px;
        border: none;

          &::placeholder{
            padding-left: 10px;
            color: $thin_black;
            font-size: 16px;
          }
      }

      .form__image {
        position: absolute;
        top: 0;
        left: calc(100% - 145px);
        display: inline-block;
        width: 20px;
        height: 50px;
        margin: 0;
        padding-right: 10px;

          .image {
            display: none;
          }

          .icon {
            line-height: 50px;
          }
      }

      .form__submit {
        float: right;
        width: 100px;
        height: 50px;
        margin-left: 15px;
        border: none;
        background-color: $light_blue;
        color: $white;
      }
    }
  }
}
