//font-color
$silver-gray: #999999;
$thin-black:  #434A54;
$black:       #333333;

//background-color
$white:       #FFFFFF;
$dark-blue:   #253141;
$indigo-blue: #2f3e51;
$pearl-white: #FAFAFA;
$pearl-gray:  #AAAAAA;

//btn-color
$light-blue:   #38AEF0;
$alert_orange: #F35500;
//border-color
$border-color: #eeeeee;


