//font-color
$black:           #333;
$thin_black:      #434a54;
$light_gray:      #999;

//background-color
$white:           #FFFFFF;
$side_blue_dark:  #253141;
$side_blue_light: #2f3e51;
$pearl_white:     #FAFAFA;
$pearl_gray:      #AAA;

//btn-color
$light_blue:      #38AEF0;

//border-color
$border_color:    #eee;

//alert-color
$alert_orange:    #F35500;





